<footer>
    <div class="row">
        <span><%=link_to Rails.configuration.version, "https://github.com/jadefish/anonynotes/tree/#{Rails.configuration.version}", rel: :nofollow, target: '_blank'%></span>
    </div>
</footer>
