/*
 *= require_tree .
 *= require_self
 */

@import 'variables.scss';
@import 'functions.scss';

*,
*:before,
*:after {
    box-sizing: border-box;
}

html {
    height: 100%;
    font-size: 100%;
    background-color: $background;
    color: $foreground;
}

body {
    position: relative;
    min-height: 100%;
    margin: 0;
    padding-bottom: 6rem;
    font-family: sans-serif;
    line-height: 1.4285714286;
}

.row {
    max-width: 45em;
    margin: 0 auto;
    padding: 1rem;
}

p {
    margin-top: 0.75em;
    margin-bottom: 0.75em;
}

textarea,
input,
select,
button {
    font-family: inherit;
    font-size: 100%;
    border: 1px solid $border;
    padding: 0.2em 0.3em;
    color: $foreground;
    background: $white;
    border-radius: 0.15em;
    line-height: inherit;

    &:focus {
        outline: none;
        box-shadow: 0 0 0 2px $focus;
    }
}

button {
    background: $white;
    padding: 0.2em 1em;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    white-space: nowrap;
    user-select: none;
    text-transform: lowercase;

    &:disabled {
        cursor: not-allowed;
        opacity: 0.70;
    }
}

button + button {
    margin-left: 0.50em;
}

@each $k, $v in $colors {
    .button-#{$k} {
        @include make-button($v);
    }
}

.button-white {
    border-color: $border;
}

.button-container {
    display: flex;
    align-items: center;
}

main + footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    background: $foreground;
    color: $background;
    text-align: right;
}

main + footer a {
    color: $border;
    text-decoration: none;
}
