@import 'variables.scss';

nav {
    background: $foreground;
    padding-right: 0.90rem;
}

nav > .row,
nav form {
    display: flex;
    flex: 0 1 auto;
    align-items: center;
    padding: 0;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    flex-grow: 1;
}

nav form input[type="search"] {
    border-color: transparent;
}

nav a {
    color: $background;
    display: inline-block;
    padding: 0.75rem 0.90rem;
    text-decoration: none;
    text-transform: lowercase;
}

nav a:hover {
    background: $accent;
}

.nav-brand {
    font-weight: 600;
}
