textarea#note_text,
blockquote.note > p {
    width: 100%;
    font-family: serif;
    font-size: 125%;
}

textarea#note_text {
    min-height: calc(4 * 1em * 20/14 + 0.2em * 2 + 2px); // 4 lines
    height: calc(7 * 1em * 20/14 + 0.2em * 2 + 2px); // 7 lines
    max-height: 70vh;
    resize: vertical;
}

blockquote.note > p {
    white-space: pre-wrap;
}

blockquote.note {
    margin-bottom: 2em;
}

button.like-note {
    background: transparent;
    border: none;
    padding-left: 0;
    padding-right: 0;
    line-height: 1;
    vertical-align: initial;
}

.note-tools {
    display: flex;
    flex: 0 1 auto;
}

.note-tools .note-permalink {
    margin-left: 1em;
}
