textarea#note_text,
blockquote.note > p {
    width: 100%;
    font-family: serif;
    font-size: 150%;
}

textarea#note_text {
    min-height: calc(4 * 1em * 20/14 + 0.2em * 2 + 2px); // 4 lines
    height: calc(7 * 1em * 20/14 + 0.2em * 2 + 2px); // 7 lines
    max-height: 70vh;
    resize: vertical;
}

blockquote.note > p {
    white-space: pre-wrap;
    line-height: calc(26/14);
}

blockquote.note {
    margin: 2em 0;
}

button.like-note {
    background: transparent;
    border: none;
    padding: 0;
    line-height: 1;
    vertical-align: initial;
    margin: 0;
}

.note-tools {
    display: flex;
    flex: 0 1 auto;
}

.note-tools .note-permalink,
.note-tools .note-likes {
    margin: 0;
}

.note-tools > * + * {
    margin-left: 1em !important;
}

.button-container > span.form-errors {
    color: red;
    flex-grow: 1;
}
