#note_text {
    width: 100%;
    resize: vertical;
    font-family: serif;
    font-size: 125%;
}

textarea#note_text {
    min-height: calc(4 * 1em * 20/14 + 0.2em * 2 + 2px); // 4 lines
    height: calc(7 * 1em * 20/14 + 0.2em * 2 + 2px); // 7 lines
    max-height: 70vh;
}
