$background: #fdfbf9;
$foreground: #272727;
$border: #ccc;
$focus: #b6dff7;

$black: #000;
$gray: #b8bbb4;
$white: #fff;
$accent: #3498db;

$colors: (
    "black": $black,
    "gray": $gray,
    "white": $white,
    "accent": $accent
);
